<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/angular-moment/angular-moment.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="myreddit" ng-controller="RedditCtrl">

    <ion-pane>
      <ion-header-bar class="bar-positive">
          <h1 class="title">My Reddit</h1>
      </ion-header-bar>
      <ion-content>
      <div class="list">
      <a  href="{{story.url}}" target="_blank" class="item  item-thumbnail-left" ng-repeat="story in stories">
       <img ng-src = "{{story.thumbnail}}" ng-if="story.thumbnail.startsWith('http')">
        <h2 class="story-title"> {{story.title}} </h2>
        <p>
        <span am-time-ago="story.created_utc" am-preprocess="unix"></span>
         - {{story.domain}}
        </p>
      </a>
      </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
